.cal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.6em 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
}

.cal__entry {
  position: relative;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin: -2px 0 0 -2px;
  padding-left: 0.6em;
  overflow: hidden;
  max-height: 300px;
  overflow-y: scroll;
}

.cal__entry li,
.cal__entry strong {
  font-size: 10px;
}

.cal__entry:nth-of-type(7n + 1) {
  border-left: 2px solid black;
}

.cal__day {
  margin: 0;
}

.cal__entry--empty {
  background-color: grey;
}
