@import '~normalize.css';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.site-title {
  margin-top: 50px;
}

.shield {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.shield--image {
  width: 150px;
}

.journal-main {
  margin: 20px;
}

html, body {
  height: 100%;
}

h4.journal-heading {
  padding: 0;
  margin: 8px;
}

ul {
  padding-left: 8px;
  padding-right: 8px;
}

.cal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
}

.cal > .cal__entry {
  position: relative;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding-left: 0.6em;
  font-size: 15px;
  overflow: hidden;
}

.cal > .cal__entry:nth-of-type(7n + 1) {
  border-left: 2px solid black;
}

.cal__entry--empty {
  background-color: grey;
}

.cal__entry--bottom {
  border-bottom: 2px solid black;
}

.post-listing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  min-height: 50%;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.sidebar {
  background-color: #D8D8D8;
  height: 100%;
  width: 200px;
  padding: 2em;
}

.latest-posts {
  background-color: #87FF00;
  height: 100%;
  width: calc(100% - 200px * 2);
}

.menu-item {
  display: inline;
}

.main-nav-menu {
  flex-grow: 2;
  position: relative;
  text-align: right;
}

.menu-main-container {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
}

.main-nav-menu__list .menu-item a {
  text-decoration: none;
  color: black;
}
