@import '~normalize.css';
@import './typography.css';
@import './calendar.css';

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main, footer {
  background-color: white;
  width: 100%;
}

.menu-item a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.container__wrap {
  flex-wrap: wrap;
}

.container__full {
  width: 100%;
}

.container__black {
  background-color: black;
  color: white;
}

.container__white {
  background-color: white;
  color: black;
}

.container__narrow {
  width: 800px;
}

.container--sub {
  width: 100%;
  max-width: 1160px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

}

.container--sub__padded-large {
  margin: 100px 0 100px 0;
}

.container--sub__stretched {
  align-items: stretch;
}

.container__spaced {
  justify-content: space-around;
}

.container__column {
  flex-direction: column;
}

.container__column--start {
  justify-content: flex-start;
  align-items: flex-start;
}

.site-title {
  max-width: 300px;
}

.site-title--main {
  font-size: 48px;
  font-weight: 400;
}

.site-title--main.h1 {
  line-height: 1.1;
  margin-bottom: 1em;
}

.site-title--sub {
  margin-top: -1.15em;
  font-size: 30px;
}

.shield {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 20px 20px 0;
}

.shield__image {
  width: 150px;
}

.journal-main {
  margin: 20px;
}

html, body {
  height: 100%;
}

h4.journal-heading {
  padding: 0;
  margin: 8px;
}

ul {
  padding-left: 8px;
  padding-right: 8px;
}

.latest-posts {
  height: 100%;
  width: 100%;
}

.menu-item {
  display: inline;
}

.main-nav-menu {
  flex-grow: 2;
  text-align: right;
}

.menu-main-container {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-item a {
  font-size: 22px;
  padding-right: 0.5em;
}

.site-main {
  padding: 75px;
}

.img-container {
  width: 100%;
}

.img-container--mask {
  width: 420px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
}

.img--featured {
  width: 520px;
  height: 310px;
  margin-right: 30px;
}

.img--featured > img {
  width: 520px
}

.listing-container {
  max-width: 420px;
  color: black;
  text-decoration: none;
}

.listing-container:hover .h3 {
  text-decoration: underline;
}

.listing-container--featured {
  margin-top: -30px;
}
