
html {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

body {
  line-height: 1.4;
}

figcaption {
  text-align: center;
  font-size: 16px;
}

h2, h3, h4, h5, p {
  margin: 0.6em 10px;
}

h1, h3, h5 {
  font-family: 'Audiowide', serif;
}

h2, h4 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 10px 10px
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-family: 'Audiowide', cursive;
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
}

ol, ul, li {
  list-style-position: inside;
  list-style-type: disc;
}

ul > li > ul > li {
  list-style-type: circle;
}

ul > li > ul > li > ul > li {
  list-style-type: square;
}

.h {
  width: 100%;
}

a:hover .h {
  text-decoration: none;
}

.h__left {
  text-align: left;
}

.h__center {
  text-align: center;
}

.h__right {
  text-align: right;
}

.fine-print {
  font-size: 16px;
}

.white {
  color: white;
}
