/dump.sql
/index.php
/license.txt
/node_modules
/readme.html
/wp-activate.php
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-content/debug.log
/wp-content/index.php
/wp-content/plugins/*
/wp-content/themes/*
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

!/wp-content/themes/alex-theme

/wp-content/themes/alex-theme/bundle.js
