* {
  box-sizing: border-box;
}

.shield {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  margin: 20px;
}

.shield--image {
  width: 40px;
}

.shield--text {
  transform: rotateZ(90deg) translateY(20px);
  transform-origin: 50% 50%;
  font-size: 12px;
  font-weight: 800;
}

main {
  margin: 20px;
}

html, body {
  height: 100%;
}

h4 {
  padding: 0;
  margin: 8px;
}

ul {
  padding-left: 8px;
  padding-right: 8px;
}

.cal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
}

.cal > .cal__entry {
  position: relative;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding-left: 0.6em;
  font-size: 15px;
  overflow: hidden;
}

.cal > .cal__entry:nth-of-type(7n + 1) {
  border-left: 2px solid black;
}

.cal__entry--empty {
  background-color: grey;
}

.cal__entry--bottom {
  border-bottom: 2px solid black;
}
